.navbar {
    background: #11101d!important;
    height: 3.5rem;
    left: 242px;
    // margin-right: 50px;
}

.navbar button{
    // margin-right : 242px!important;
    background-color: #775298;
    border-color: #775298;
    color: white;
}

// .btn {
//     background-color: #775298;
//     border-color: #775298;
//     color: white;
// }