// main {
// 	background-color: #1c1c24;
//     color: white;
//     line-height: 1.6;
// }


.home {
    margin: 15px 30px 0 15px;
}

.btn {
    background-color: #775298;
    border-color: #775298;
    color: white;
}