<!-- 
<div class="side-nav-content">
    <div class="nav-list" >
        <a  routerLink="./inicio" routerLinkActive="active">
            <mat-icon fontIcon="grid_view"></mat-icon>
            <h3>Dashboard</h3>
        </a>
        <a  routerLink="./productos" routerLinkActive="active">
            <mat-icon fontIcon="shopping_cart"></mat-icon>
            <h3>Productos</h3>
        </a>
        <a routerLink="./ventas" routerLinkActive="active">
            <mat-icon fontIcon="receipt_long"></mat-icon>
            <h3>Ventas</h3>
        </a>
        <a routerLink="./creditos" routerLinkActive="active">
            <mat-icon fontIcon="credit_score"></mat-icon>
            <h3>Créditos</h3>
        </a>
        <a routerLink="./gastos" routerLinkActive="active">
            <mat-icon fontIcon="payments"></mat-icon>
            <h3>Gastos</h3>
        </a>
        <a routerLink="./clientes" routerLinkActive="active">

            <i class="bx bx-chat"></i>
            <h3>Clientes</h3>
        </a>
    </div>
</div> -->

<div class="sidebar">
  <div class="logo_content">
      <div class="logo">
          <i class='bx bx-bot'></i>
          <div class="logo_name">
              LitMap AI
          </div>
      </div>
  </div>
  <ul class="nav_list">
      <!-- <li>
          
              <i class="bx bx-search"></i>
              <input type="text" placeholder="Search....">
          
      </li> -->
      <li>
          <a routerLink="./inicio" routerLinkActive="active">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name">Inicio</span>
          </a>
      </li>
      <li>
          <a routerLink="./categorizacion" routerLinkActive="active">
              <i class='bx bx-book'></i>
              <span class="links_name">Categorizacion</span>
          </a>
      </li>
      <li>
          <a routerLink="./resultados" routerLinkActive="active">
              <i class="bx bx-chat"></i>
              <span class="links_name">Resultados</span>
          </a>
      </li>
  </ul>
  <!-- <div class="profile_content">
      <div class="profile">
          <div class="profile_details">
              <img src="assets/img1.png" alt="">
               <div class="name_job">
                  <div class="name">Prem shadi</div>
                  <div class="job">web designer</div>
               </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
      </div>
  </div> -->
</div>
